@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

:root{
     /* 1rem = 10px */
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body{
    background-color: #FBF7FF;
    width: 100vw;
    overflow-x: hidden;
}

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #290742;
    padding-top: 6.4rem;
 }

 .logo{
     margin-left: 10%;
     
 }

 .menu,li{
    list-style: none;
    font-family: 'poppins','sans-serif';
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
 }

 .menu-link{
     color: #f8fbfbb6;
     text-decoration: none;
 }

 .menu-link:hover{
     color: #ffffff;
     border-left: 3px solid yellowgreen;
 }


 .btn{ 
    padding-right: 10%;
    display: flex;
    height: 4.4rem;     
 }

 input{
    background-color: #170027;
    border: none;
    width: 22.0rem;
    outline: none;
    color: white; 
    padding-left: 1.0rem;
 }

button{
    border: none;
    background:url('../images/search.svg') #963bd8 no-repeat center;
    width: 7.0rem;
}

.section-1{
    padding-top: 4rem;
    background-color: #290742;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid yellowgreen;
}

.main-article{
    padding-left: 10%;
}

h1{
    font-size: 3.6rem;
    color:#9e6dc2;
    font-family: 'poppins';
    font: 700 bold;
    padding-bottom: 1.6rem;
}

.p-main{
    color: #fbf6ff;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 1.8rem;
}

.veja-mais{
    color: #9e6dc2;
    font-family: 'roboto';
    font-size: 1.8rem;
    font-weight: bold;

    display: flex;
    gap: .5rem;
    padding-top: 2.4rem;
}

.featured-image{
    display: flex;
    padding-right: 13.6rem;
    padding-bottom: 7.0rem;   

    
    width:50%;
    height: 50%;
    object-fit: contain;
}

h2{
    font-size: 2.4rem;
    font-family: 'roboto';
    color: #290742;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-2{
    display: flex;
    justify-content: space-between;
    width:auto;
    padding-block: 10%;
    padding-left: 10%;
}

p{
    font-size: 1.6rem;
    font-family: 'roboto';
    font-weight: 400;

}

.article-side-1{
    padding-right: 10%;
    padding-left: 14%;
}

.section-side-1{
    padding-top: 15%;
}

.h2-side{
    font-family: 'poppins';
    font-weight: bold;
}

.section-final{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 10%;
    padding-right: 10%;
    gap: 2.5rem;
    padding-bottom: 2rem;
}

.post-2,.post-3,.post-4{ 
    width: min-content;
}

footer{
    background: rgb(2,0,36);
    text-align: center;
    color: white;
    padding: 1rem;
    height: max-content;
}

a{
    color:yellowgreen;
    text-decoration: none;
}


























