@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body{
    background-color: #FBF7FF;
}

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #290742;
    padding-top: 64px;
 }

 .logo{
     margin-left: 10%;
     
 }

 .menu,li{
    list-style: none;
    font-family: 'poppins','sans-serif';

    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
 }

 .menu-link{
     color: #f8fbfbb6;
     text-decoration: none;
 }

 .menu-link:hover{
     color: #ffffff;
     border-left: 3px solid yellowgreen;
 }


 .btn{ 
    padding-right: 10%;
    display: flex;
    height: 44px;     
 }

 input{
    background-color: #170027;
    border: none;
    width: 220px;
    outline: none;
    color: white; 
    padding-left: 10px;
 }

button{
    border: none;
    background:url('../images/search.svg') #963bd8 no-repeat center;
    width: 70px;
}

.section-1{
    padding-top: 4rem;
    background-color: #290742;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid yellowgreen;
}

.main-article{
    padding-left: 10%;
}

h1{
    color:#9e6dc2;
    font-family: 'poppins';
    font: 700 bold;
    font-size: 2.25rem;
    padding-bottom: 16px;
}

.p-main{
    color: #fbf6ff;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 18px;
}

.veja-mais{
    color: #9e6dc2;
    font-family: 'roboto';
    font-size: 18px;
    font-weight: bold;

    display: flex;
    gap: .5rem;
    padding-top: 24px;
}

.featured-image{
    display: flex;
    padding-right: 10%;
    padding-bottom: 70px;
    
}

h2{
    font-family: 'roboto';
    color: #290742;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-2{
    display: flex;
    justify-content: space-between;
    /* padding-left: 10%; */
    /* padding-top: 6%; */
    /* padding-bottom: 6%; */
    width:auto;
padding: 10%;}

p{
    font-family: 'roboto';
    font-weight: 400;

}

.article-side-1{
    padding-right: 10%;
    padding-left: 14%;
}

.section-side-1{
    padding-top: 15%;
}

.h2-side{
    font-family: 'poppins';
    font-weight: bold;
}

.section-final{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-left: 10%;
    padding-right: 10%;
    gap: 2.5rem;
    padding-bottom: 2rem;
}

.post-2,.post-3,.post-4{ 
    width: min-content;
}

footer{
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 7%, rgba(41,7,66,0.5105392498796393) 58%, rgba(251,247,255,1) 100%);
    text-align: center;
    color: white;
    padding: 1rem;
    height: max-content;
}

a{
    color:yellowgreen;
    text-decoration: none;
}

a{

    
}

























